<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./_partial/_head') %>
    <title>Login - Online Food</title>
  </head>
  <body>
  <div
  class="d-flex justify-content-center align-items-center"
  style="margin: 25px 0px"
>
    <div class="card shadow-lg p-4" style="width: 24rem">
      <img
        src="https://raw.githubusercontent.com/marhanura/marfoodmd/refs/heads/main/public/logo.png"
        alt="logo"
        width="100"
        style="margin: auto"
      />
      <h2 class="text-center text-warning">Marfood MD</h2>
      <p class="text-center text-muted mb-4">Login to continue</p>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <div class="input-group">
            <span class="input-group-text">📧</span>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Email Address"
              required
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <div class="input-group">
            <span class="input-group-text">🔒</span>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>
        </div>
        <button type="submit" class="btn btn-warning w-100">Login</button>
      </form>
      <p class="text-center text-muted mt-3">
        Don't have an account?
        <a href="/register" class="text-warning fw-bold">Sign Up</a>
      </p>
    </div>
  </body>
</html>
