<div
  class="container-fluid text-white py-2 mt-3 d-flex justify-content-between"
  style="background-color: #ffa725"
>
  <div>
    <p>&copy; 2025 MarFoodMD. All Rights Reserved.</p>
  </div>
  <div>
    <a class="text-white" href="/about">About</a> ||
    <a class="text-white" href="/contact">Contact</a>
  </div>
</div>
